:root {
    --pinkColor: #FF5363;
    --blueColor: #2a81ea;
    --mainColor: #50658e;
    --textColor: #3d4b69;
    --whiteColor: #f5f6fa;
    --fontstrong: 'Oswald', sans-serif;
    --fontbold: 'Anton', sans-serif;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: var(--bs-font-sans-serif);
}

a {
    text-decoration: none;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    padding: 0 15px;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    ul {
        display: none;
    }
}

/* *******************************General  styles*********************************************** */
.container-fluid {
    width: 97%;
    margin: 0 auto;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.btnLinkTrans {
    color: var(--blueColor);
}

a.btnLink {
    background-color: var(--blueColor);
    border-radius: 20px;
    color: var(--whiteColor) !important;

}

a.btnLink:hover {
    background-color: #3171c0;
}

.diffcolor {
    color: var(--pinkColor);
}

p {
    color: var(--textColor);

}

/* ****************************header************************************************ */
.nav-nav {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030
}

.navbar-brand {
    font-size: 30px;
    color: #394B6C;
    font-weight: 900;
    text-transform: uppercase;
}

.navbar-brand .logo {
    color: var(--pinkColor);
}

.navbar-brand span {
    color: #4B6691;
}

a.nav-link {
    font-weight: 700;

    color: #50658e;
    font-size: 14px;
}

.nav-item a.btnLink {
    padding: 10px 30px;
}

a.nav-link:hover {
    color: var(--blueColor);
}

.active {
    color: var(--blueColor);
}

a.active {
    color: var(--blueColor);
}

.nav-bg {
    background-color: #fff;
}

.scroll-top {
    background-color: var(--blueColor);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-align: center;
    display: none;
    color: var(--whiteColor);
}

/* ****************************************************************************** */
.home {
    display: flex;

}

.HomeBanner {
    background-image: url(../Images/shape-a.png);
    background-color: aliceblue;
    mix-blend-mode: darken;
    background-size: cover;
    /* width: 100%; */
    background-repeat: no-repeat;
}

/* heading */
.heading {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    /* padding: 50px 0 30px; */
    color: #50658e;
}

.heading h1 {
    font-size: 40px;
    font-weight: 900;
}

.subHeading {
    font-size: 25px;
    font-weight: 700;

}

/* home image */
.homeImg img {
    width: 100%;
}

/* home links */

.HomeBanner .links {
    /* margin: 10% 20%; */
    padding-top: 30px;
    display: flex;
    font-weight: 500;
    text-align: center;
    /* flex-wrap: wrap; */
    justify-content: space-between;

}

.HomeBanner .links a {
    display: block;
    align-self: center;
    align-items: center;
    width: 40%;
    margin: 0 auto;
    padding: 10px 20px;

}

.links .link_icon {
    padding-left: 10px;
}

/* cases */
.cronaCases {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.cronaCases h6 {
    color: #7d92bb;
    font-weight: 700;
    font-size: 13px;
}

.numbers {
    color: #465675;
    font-size: 30px;
    font-weight: 900;
}

@media only screen and (max-width: 1200px) {

    .HomeBanner .links a,
    .cronaCases .cases {
        margin: 0 auto;
        width: 60%;

    }

    .HomeBanner .links {
        flex-wrap: wrap;
    }

    .home {
        flex-wrap: wrap;
    }

    .homeContent {
        width: 100%;
    }

}

/* **********************************General style between mainSection********************************************************* */
.mainSection {
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    padding: 100px 0;
}

.mainSection h4 {
    color: var(--blueColor);
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 20px;

}

.mainSection h2 {
    color: var(--mainColor);
    /* font-weight: 900; */
    font-size: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 20px 0;
    font-family: var(--fontbold);

}

.mainSection .mainP span {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 1px;
}

.mainSection .mainP {
    padding: 10px 0;
    font-size: 22px;
}

.mainSection .centerP {
    padding: 0 20%;
}

/* **********************************About ********************************************************* */

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.aboutContent {
    width: 60%;
}

.aboutdetails {
    border: 1px solid #e7e8ff;
    padding: 5px;
    width: 35%;
    border-radius: 5px;
    box-shadow: 0px 5px 40px 0px rgba(80, 101, 142, 0.08);
    background-color: white;
}

.aboutdetails h5 {
    padding: 20px;
    font-size: 20px;
}

.aboutdetails .details {
    border-top: 1px solid #e7e8ff;
    color: var(--blueColor);
    padding: 20px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.aboutdetails .details a {
    color: var(--blueColor);
}
@media only screen and (max-width: 1200px) {
.about .aboutContent{
    width: 95%;
    margin: 1% auto;
}
.aboutdetails {
 width: 70%;
 margin: 1% auto;

}
/* ******************************************spread********************************************************* */
.spread {
    background-color: #F7F9FE;
}

.spreadContant {
    text-align: center;
    padding: 100px 0;

}

.spreadContant p {
    padding: 10px 20%;
}

.spreadDetials {
    justify-content: space-around;
    display: flex;

}

.spreadDetials .details {
    width: 30%;
}

.spreadDetials .details img {
    width: 100%;
    border-bottom: 8px solid #7d92bb;
    padding-bottom: 0;
    margin-bottom: 0;
}

.spreadDetialsContant {
    margin-top: 0;
    background-color: white;
    padding: 20px;
}

.spreadDetials .details h4 {
    font-size: 20px;
    padding: 10px 0;

}

.spreadDetials .details p {
    padding: 10px 0 50px;
    font-size: 18px;
}

.spread .question {
    text-align: center;
    margin: 7%;
    font-size: 19px;
    font-weight: 400;
}

.spread .question .btnLink {
    padding: 1% 3%;
}

.spread .question .link_icon {
    padding: 0 20px;
}

@media only screen and (max-width: 1200px) {
    .spreadDetials{
        flex-wrap: wrap;
    }
    .spreadDetials .details {
    width: 68%;
    margin: 2% auto;
    }
}
/* *********************************************symptoms********************************************************* */
.symptoms {}

.symptoms .symptomsContant {
    text-align: center;
    /* padding: 100px 0; */
}

.symptoms .symptomsDetials {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    margin-bottom: 7%;
}


.symptomsDetialsImg {
    width: 80px;
    position: absolute;
    top: -19%;
    left: 68%;
}


.symptoms .symptomsDetials .details {
    padding: 60px 40px;
    width: 25%;
    position: relative;
    border: 1px solid #e7e8ff;
    border-radius: 5px;
    box-shadow: 0px 5px 40px 0px rgba(80, 101, 142, 0.08);
    background-color: white;
}

.symptoms .symptomsDetials .details img {
    border-radius: 50%;
    width: 100%;
    /* size: 20px; */
    /* top: -98px;
    left: 250px; */
}

@media only screen and (max-width: 1200px) {
    .symptoms .symptomsDetials {
        flex-wrap: wrap;
    }

    .symptoms .symptomsDetials .details {
        width: 50%;
        margin: 5% 0;
    }

    .symptomsDetialsImg {
        top: -15%;
    }
}

.staySafe {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

.staySafe .text {
    width: 70%;
    display: flex;

}

.staySafe .help {
    width: 25%;
}

.staySafe .danger-icon {
    font-size: 60px;
    color: var(--blueColor);
    padding: 0 20px;
}

.staySafe .btnLink {
    padding: 3% 9%;
    align-self: center;
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    .staySafe {
        flex-wrap: wrap;

    }

    .staySafe .text {
        width: 95%;
        margin: 2% auto;
    }

    .staySafe .help {
        margin: 5% auto 0;

        width: 50%;
    }
}

/* *********************************************protect********************************************************* */
.protect {}

.protectContant {
    text-align: center;
    /* padding: 100px 0; */
}

.protectdetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}

.protectdetails .details {
    text-align: center;
    width: 24%;
}

.protectdetails .details img {
    border-radius: 50%;
    width: 150px;
}

.protect .links {
    display: flex;
    justify-content: space-around;
}

.protectOthersContent p {
    /* width: 70%; */
    display: inline;
}

.protectOthersImage img {
    width: 100%;
}

/*************************************** do And Dont ************************************************/
.doAndDontContant {
    justify-content: space-around;
    align-items: center;
}

.doAndDontImage img {
    width: 100%;
    /* height: 100%; */
}

.doAndDontContantDetails {
    display: flex;
}

.blogContant img {
    width: 80%;
}

/* *************************************Steps********************************************************* */
.detailsContent .details img {
    width: 100%;

}

/*************************************** footer ************************************************/
footer {

    background-image: url(../Images/shape-a.png);
    background-color: blue;
    mix-blend-mode: darken;
    padding: 0;
}